body{
    margin: 0;
    background-image: url(img/f24faf4acedc4cc385c55ea1af80718c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
}
h1{
    background-color: white;
    width: 200px;
    border-radius: 40px 90px 40px 90px;
    margin: 20px;
    text-align: center;
}

#caixa-1, #caixa-2, #caixa-3{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(43, 13, 13, 0.863);
    box-shadow: rgba(0, 0, 0, 0.301) 0px 2px 18px 0px;
    color: white;
    font-family: Poppins;
    width: 200px;
    text-align: justify;
    padding: 30px;
    
}
article{
    display: flex;
    justify-content: space-evenly;

}
.text-inform{
    margin-top: 60px;
    text-align: justify;
    font-size: 18px;
    font-family: Poppins;
    padding: 30px;
    background-color: white;
}
section{
    background-color: white;
    height: 460px;

}
footer{
    margin-top: 80px;
    font-family: Poppins;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
    display: flex;
    background-color: white;
    align-items: baseline;
    justify-content: space-around;
  }
nav{
    margin: auto;
    width: 420px;
    
    
    
    background-color: white;
    
}
button{
    padding: 20px;
    width: 420px;
    height: 80px;
    
    font-size: 22px;
    border: none;
    font-family: Poppins;
    color: white;
    background-color: rgb(43, 15, 15);
}

