@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
}
.navegacao-menu{
    display: flex;
    margin: 10px;
    font-size: 22px;
    font-family: Poppins;
    align-items: center;
    
}
a{
    color: black;
    text-decoration: none;
}
.dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
footer{
    margin-top: 80px;
    font-family: Poppins;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
.navegacao-menu p, button{
    margin: 19px;
}
.navegacao-menu button{
    padding: 14px;
    width: 190px;
    border: none;
    color: white;
    background-color: rgb(102, 48, 48);
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 440px;
    text-align: center;
    margin: auto;
    
    padding: 20px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
}
form p{
    font-family: Poppins;
    font-size: 14px;
}
form h1{
    font-family: Roboto;
    margin: 0;
    font-size: 28px;
}
form a{
    text-align: end;
    margin-right: 20px;
    font-size: 12px;
}
.navegacao-menu p{
    transition: all 0.3s ease-in;
    font-weight: 700;
}
.navegacao-menu p:hover{
    color: rgb(104, 84, 84);
    font-weight: 700
}
.input-center{
    display: flex;
    flex-direction: column;
    
}
.input-center input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin: 15px;
}
#checkbox-style{
    display: flex;
    align-items: baseline;
    font-size: 12px;
    margin: 0px;
    font-family: Poppins;
}
#botao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
input[type=submit]{
    border: none;
    padding: 15px;
    
    color: white;
    background-color: black;
    font-family: Poppins;
    transition: color 0.2s ease-in, background-color 0.2s ease-in, border 0.2s ease-in;
}
input[type=submit]:hover{
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}
#cad-btt{
    background-color: white;
    width: 300px;
    margin-right: 28px;
    color: black;
    border: 1px solid black;
    transition: color 0.2s ease-in, background-color 0.2s ease-in, border 0.2s ease-in;
}
#cad-btt:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 750px){
    header img{
        display: none;
        flex-wrap: wrap;
    }
    header{
        top: 0;
        
        width: 100%;
        display: flex;
        
       
       
    }
    .barra-nav{
        display: flex;
        justify-content: space-between;
   
        
    }
    .navegacao-menu{
        font-size: 18px;
        text-align: center;
        width: 100px;
        display: flex;
        justify-content: space-between;
        
    }
    .navegacao-menu button{
       
    }
}