@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
}
body{
    margin: 0;
    box-sizing: border-box;   
    font-family: Poppins;
}
header{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
}
.navegacao-menu{
    display: flex;
    margin: 10px;
    font-size: 22px;
    font-family: Poppins;
    align-items: center;
    
}
a{
    color: black;
    text-decoration: none;
}
footer{
    margin-top: 80px;
    font-family: Poppins;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
.navegacao-menu p, button{
    margin: 19px;
}
.navegacao-menu p{
    transition: all 0.3s ease-in;
    font-weight: 700;
}
.navegacao-menu p:hover{
    color: rgb(104, 84, 84);
    font-weight: 700
}
.navegacao-menu button{
    padding: 14px;
    width: 190px;
    border: none;
    color: white;
    background-color: rgb(102, 48, 48);
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.caixa-perfil{
    display: flex;
    padding: 30px;
    justify-content: left;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    
}
#inform-caixa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 40px;
}
a{
    color: black;
    text-decoration: none;

}
a img{
    margin: 0px 40px;
    transition: all 0.3s ease-in;
}
a img:hover{
    transform: scale(1.15);
}


footer{
    margin-top: 80px;
    font-family: Poppins;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
#center-img img{
    margin: 6px;
}
p{
    margin: 5px;
}

.inform-caixa2{
    display: flex;
   padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 2px 18px 0px;
    
}
.inform-caixa2 h1{
    letter-spacing: 8px;
}
#about-contact{
    width: 400px;
}
#and, #ace, #rec{
    border-radius: 20px;
    padding: 8px;
    margin: 2px 20px;
    
    
}
#and{
    background-color: yellow;
    
}


#ace{
    background-color: rgb(46, 151, 46);
}
#rec{
    background-color: rgb(238, 54, 54);
}
a h1{
    margin: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover #and {
    background-color: #dddb4e;
  }

.dropdown:hover #ace {
    background-color: #77dd4e;
  }

.dropdown:hover #rec {
    background-color: #dd4e4e;
  } 



button{
    background-color: rgba(41, 14, 14, 0.452);
    border: none;
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: 130px;
    font-family: Poppins;
}
@media screen and (max-width: 750px){
    header img{
        display: none;
        flex-wrap: wrap;
    }
    header{
        top: 0;
        
        width: 100%;
        display: flex;
        
       
       
    }
    .barra-nav{
        display: flex;
        justify-content: space-between;
   
        
    }
    .navegacao-menu{
        font-size: 18px;
        text-align: center;
        width: 100px;
        display: flex;
        justify-content: space-between;
        
    }
    .navegacao-menu button{
       
    }
}